.dropdown {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
}

.button {
  background-color: darkseagreen;
  padding: 10px;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 20px;
  text-align: center;
  background-color: blueviolet;
}
